body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    background: black;
}

path {
    fill: none;
    stroke: grey;
    stroke-width: 4
}

text {
    fill: white;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.box {
    fill: grey;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.title {
    fill: yellow;
    font-size: 1em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.info-text {
    fill: white;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.item-text-common {
    fill: white;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.item-text-uncommon {
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
    fill: #0fe00f;
}

.item-text-rare {
    fill: blue;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.item-text-epic {
    fill: purple;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.item-text-legendary {
    fill: gold;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.item-text-divine {
    fill: lightblue;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.item-text-special {
    fill: darkred;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.item-text-very-special {
    fill: darkred;
    font-size: 0.5em;
    text-anchor: middle;
    pointer-events: none;
    font-family: 'Consolas', serif;
}

.money-text {
    @extend .info-text;
    fill: black;
    font-size: 0.5em;
    text-anchor: middle;
}
